<div>
	<div>
		<label>Topic</label>
		<p>{{title}}</p>
	</div>
	<div>
		<label>Pages</label>
		{{#each page in pages}}
			<p>
				{{page.title}}<br />
				Type: {{page.pageType}}<br />
				{{#if page.videoUrl}}
					Video URL: {{page.videoUrl}}<br />
				{{/if}}
			</p>
		{{/each}}
	</div>
</div>